/* .radius{
    border:solid 5px #f1e2f2;
    border-radius:15px;
}
.radius1{
    height: 77px;
    border:solid 5px #f1e2f2;
    border-radius:15px;
}

.bgprimary{
    background: linear-gradient(to right, #3399ff 0%, #ff66ff 93%);
}


.loadimage{
    border-radius:  12px;
    height: 170px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1438' height='557' preserveAspectRatio='none' viewBox='0 0 1438 557'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1043%26quot%3b)' fill='none'%3e%3crect width='1438' height='557' x='0' y='0' fill='url(%23SvgjsRadialGradient1044)'%3e%3c/rect%3e%3cpath d='M0 253.7L10 212.75L20 213.45L30 199.16L40 179.06L50 212.73L60 184.71L70 155.56L80 91.89L90 140.28L100 208.06L110 208.18L120 214.56L130 231.14L140 264.79L150 296.49L160 272.48L170 249.29L180 276.6L190 270.96L200 221.03L210 219.39L220 156.75L230 94.59L240 35.94L250 20.11L260 21.51L270 44.74L280 9.17L290 50.8L300 17.64L310 14.32L320 49L330 91.51L340 33.46L350 67.71L360 23.97L370 32.51L380 5.52L390 63.56L400 95.09L410 108.89L420 84.41L430 137L440 74.52L450 82.92L460 134.63L470 113.32L480 164.2L490 184.23L500 149.85L510 162.58L520 174.38L530 218.91L540 197L550 263.23L560 265.15L570 235.49L580 179.68L590 130.78L600 71.5L610 78.06L620 77.62L630 64.45L640 82.91L650 91.69L660 32.27L670 53.29L680 96.72L690 131.87L700 191.41L710 257.62L720 268.92L730 239.64L740 296.53L750 312.11L760 342.49L770 394.8L780 340.79L790 366.93L800 392.13L810 416.46L820 358.77L830 297.63L840 262.88L850 204.48L860 214.65L870 266.07L880 305.48L890 237.46L900 211.4L910 196.82L920 131.38L930 192.97L940 150.34L950 163.74L960 130.09L970 165.92L980 130.3L990 97.03L1000 135.37L1010 90.59L1020 39.23L1030 60.23L1040 3.52L1050 27.15L1060 6.77L1070 44.15L1080 38.14L1090 64.74L1100 42.37L1110 109.55L1120 78.44L1130 23.16L1140 6.33L1150 35.44L1160 77.33L1170 10.55L1180 47.72L1190 101.59L1200 151.42L1210 195.72L1220 147.97L1230 188.25L1240 190.11L1250 131.8L1260 140.58L1270 93.25L1280 107.55L1290 146.47L1300 79.05L1310 82.78L1320 35.28L1330 26.77L1340 69.64L1350 11.42L1360 63.86L1370 71.06L1380 114.33L1390 114.61L1400 155.97L1410 191.75L1420 186.57L1430 209.51L1440 269.03' stroke='rgba(15%2c 80%2c 157%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 253.7L10 212.75L20 213.45L30 199.16L40 179.06L50 212.73L60 184.71L70 155.56L80 91.89L90 140.28L100 208.06L110 208.18L120 214.56L130 231.14L140 264.79L150 296.49L160 272.48L170 249.29L180 276.6L190 270.96L200 221.03L210 219.39L220 156.75L230 94.59L240 35.94L250 20.11L260 21.51L270 44.74L280 9.17L290 50.8L300 17.64L310 14.32L320 49L330 91.51L340 33.46L350 67.71L360 23.97L370 32.51L380 5.52L390 63.56L400 95.09L410 108.89L420 84.41L430 137L440 74.52L450 82.92L460 134.63L470 113.32L480 164.2L490 184.23L500 149.85L510 162.58L520 174.38L530 218.91L540 197L550 263.23L560 265.15L570 235.49L580 179.68L590 130.78L600 71.5L610 78.06L620 77.62L630 64.45L640 82.91L650 91.69L660 32.27L670 53.29L680 96.72L690 131.87L700 191.41L710 257.62L720 268.92L730 239.64L740 296.53L750 312.11L760 342.49L770 394.8L780 340.79L790 366.93L800 392.13L810 416.46L820 358.77L830 297.63L840 262.88L850 204.48L860 214.65L870 266.07L880 305.48L890 237.46L900 211.4L910 196.82L920 131.38L930 192.97L940 150.34L950 163.74L960 130.09L970 165.92L980 130.3L990 97.03L1000 135.37L1010 90.59L1020 39.23L1030 60.23L1040 3.52L1050 27.15L1060 6.77L1070 44.15L1080 38.14L1090 64.74L1100 42.37L1110 109.55L1120 78.44L1130 23.16L1140 6.33L1150 35.44L1160 77.33L1170 10.55L1180 47.72L1190 101.59L1200 151.42L1210 195.72L1220 147.97L1230 188.25L1240 190.11L1250 131.8L1260 140.58L1270 93.25L1280 107.55L1290 146.47L1300 79.05L1310 82.78L1320 35.28L1330 26.77L1340 69.64L1350 11.42L1360 63.86L1370 71.06L1380 114.33L1390 114.61L1400 155.97L1410 191.75L1420 186.57L1430 209.51L1440 269.03L1440 557L0 557z' fill='url(%23SvgjsLinearGradient1045)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1043'%3e%3crect width='1438' height='557' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cradialGradient cx='0%25' cy='50%25' r='1464.72' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient1044'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='%2300459e' offset='1'%3e%3c/stop%3e%3c/radialGradient%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' id='SvgjsLinearGradient1045'%3e%3cstop stop-opacity='0.65' stop-color='rgba(15%2c 80%2c 157%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='%23559bef' offset='0.8'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
} */
.bg{
    background-color:#fad8ef;
}

#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
    background-color:#00BF96;
}

#clockdiv > div{
	padding: 13.6px;
	border-radius: 3px;
	background: #00BF96;
	display: inline-block;
    
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #00816A;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}