.clr{
    background-color: #00BF96;
}
.cls{
    background-color: #00816A;
    /* border:solid 3px #b4f5ac; */
    /* border-radius:1px; */
}
#daterem{
    font-size:5rem;
    font-family: 'Pacifico', cursive;
}
#daterem1{
    font-size:2rem;
}
#daterem2{
    font-size:2rem;
    font-family: 'Crete Round', serif;
    
}
#timer{
    font-family: 'IM Fell English SC', serif;
}

@media (max-width:450px) {
    #quots{
        font-size: 1rem;
    }
    #daterem{
        font-size:1rem;
    }  
    #daterem1{
      font-size:1rem;
  }
  #daterem2{
    font-size:1rem;
    }
  #daterem2{
    font-size:1rem;
    }
  
}
.orange{
    color:black
    

}

#quots{
    font-size:2rem;
    font-family:'Fugaz One', cursive;
    
}