.clr{
    background-color: #00BF96;
}
.cls{
    background-color: #00816A;
    /* border:solid 3px #b4f5ac; */
    /* border-radius:1px; */
}
#daterem{
    font-size:5rem;
}
#daterem1{
    font-size:2rem;
}
#daterem2{
    font-size:2rem;
}

@media (max-width:450px) {
    #daterem{
        font-size:1rem;
    }  
    #daterem1{
      font-size:1rem;
  }
  #daterem2{
    font-size:1rem;
}

}
.orange{
    color:black
    
}
